cffi==0.8.6
clastic==0.4.1
cryptography==0.7.2
enum34==1.0.4
faststat==0.2.1
gevent==1.0.1
greenlet==0.4.5
hyperloglog==0.0.9
-e git+git@github.com:mahmoud/lithoxyl.git@605debdb19e7ea888034e19622e9290a019966f4#egg=lithoxyl-master
pyasn1==0.1.7
pycparser==2.10
pyOpenSSL==0.14
six==1.9.0
-e git+https://github.com/doublereedkurt/ufork.git@533ab2a2458e8f749bf1713d578d14ca1356bbd9#egg=ufork-master
Werkzeug==0.9.4
